In [1]:
import numpy as np 
import pandas as pd 
import os 
import matplotlib.pyplot as plt 
import seaborn as sns
import missingno

# Indusind MIS_Report

In [2]:
df=pd.read_csv('IndusindMIS.csv')

In [4]:
df.head(5)

,Cred Pro_ I D,Application_ I D,Restarted_ Application,Name_of_the_ Borrower,P A N_ No,C I F_ I D,Constitution,Group_ Name,Zone,State,...,Disbusrement_ Date,Actual_ Collateral_ Cover,Actual Cover Percent,Report Date,Sanction Date,Legal Entity Identifier,Legal Entity Identifier Expiry Date,U R C Available,U R C Number,Finacle M S M E Classification
0,CTPT-1012,APP-1001,NO,CTPT-1012-xxxxx,AAHCM7723L,35145311,32_Private Non-Financial Corporations,NaN,NORTH,Haryana,...,NaN,176.0,76.52,2022-06-06T03:56:11.347,NaN,NaN,NaN,NaN,NaN,NaN
1,CTPT-1015,APP-2313,NO,CTPT-1015-xxxxx,ACCPA7187J,NaN,41_Individuals - Male,CTPT-1164-xxxxx,NORTH,Delhi,...,NaN,NaN,NaN,2022-06-06T03:56:11.347,NaN,NaN,NaN,NaN,NaN,NaN
2,CTPT-1015,APP-1002,NaN,CTPT-1015-xxxxx,ACCPA7187J,NaN,NaN,CTPT-1164-xxxxx,NORTH,Delhi,...,NaN,NaN,NaN,2022-06-06T04:46:34.39,NaN,NaN,NaN,NaN,NaN,NaN
3,CTPT-1015,APP-2311,NaN,CTPT-1015-xxxxx,ACCPA7187J,NaN,NaN,CTPT-1164-xxxxx,NORTH,Delhi,...,NaN,NaN,NaN,2022-06-06T04:46:34.39,NaN,NaN,NaN,NaN,NaN,NaN
4,CTPT-1015,APP-2304,NaN,CTPT-1015-xxxxx,ACCPA7187J,NaN,NaN,CTPT-1164-xxxxx,NORTH,Delhi,...,NaN,NaN,NaN,2022-06-06T04:46:34.39,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Cred Pro_ I D', 'Application_ I D', 'Restarted_ Application',
       'Name_of_the_ Borrower', 'P A N_ No', 'C I F_ I D', 'Constitution',
       'Group_ Name', 'Zone', 'State', 'Credit Center', 'Branch', 'L M S_ I D',
       'Credit_ Analyst', 'Credit Login By', 'Unit_ Head', 'Zonal_ Head',
       'Regional_ Head', 'R M', 'Current User Name', 'Current User Role',
       'Current Role_ Pending Since', 'Sourcing_ Channel',
       'Sourcing Channel Type', 'Sourcing Channel Type Desc',
       'Mode_of_ Facility', 'B T  Bank  Name', 'Product',
       'Type_of_application', 'Fund_ Based', 'Non_ Fund_ Based', 'Loans',
       'Derivatives_as_per_ P F E_amount',
       'Derivatives_as_per_ Notion_ Amount', 'Total_ Facility',
       'Incremental_ Exposure_ In_lakhs', 'Application_ Start_ Date',
       'Date_of_ Login', 'Login_month', 'Login_ Acceptance_date',
       'Application_ Closed_ Date', 'Login_to_ Acceptance_ T A T',
       'Business_ T A T', 'Credit_ T A T', 'Committee_ T A T', 'Total_ T A T',
       'Proposed_ Banking_ Arrangement', 'Status_of_application',
       'Reasons_of_ Decline_ Withdrawn_ Rejection',
       'Reasons_of_ Decline_ Withdrawn_ Additional_remarks',
       'Approving_ Authority', 'Manual  Override ( Y/ N)',
       'Manual  Override  D O P', 'Manual  Override  Comments',
       'Credit_ Approver_ Name', 'Secretory_ Vote', 'Credit_ Sec_ Name',
       'Internal_ Score_ Rating', 'External_ Rating', 'Business_ Type',
       'M S M E_ Type', 'Tertiary  Industry  Name', 'Nature_of_ Business',
       'Secondary  Industry  Name', 'Latest_ Audited_ Financial',
       'Latest_ Audited_ Turnover', 'Exposure_ Deviations',
       'Borrower_profile_ Deviations', 'Financial_ Parameters_ Deviations',
       'Banking_ History_ Deviations', 'Default_ History_ Deviations',
       'Owner_ Margin_ Deviations', 'Risk_ Parameter_ Score_ Deviations',
       'Promoter_and_ Guarantor_ Age_ Deviations', 'Assessment_ Deviations',
       'Collateral_ Deviations', 'Personal_ Guarantee_ Deviations',
       'Tenor_ Deviations', 'Other_ Deviations', 'Approval_ Month',
       'Cross Collateral', 'Segment_ Cross_ Collateral', 'Disbusrement_ Date',
       'Actual_ Collateral_ Cover', 'Actual Cover Percent', 'Report  Date',
       'Sanction Date', 'Legal Entity Identifier',
       'Legal Entity Identifier Expiry Date', 'U R C Available',
       'U R C Number', 'Finacle M S M E Classification'],
      dtype='object')

In [7]:
df.describe()

,Fund_ Based,Non_ Fund_ Based,Loans,Derivatives_as_per_ P F E_amount,Derivatives_as_per_ Notion_ Amount,Total_ Facility,Incremental_ Exposure_ In_lakhs,Login_to_ Acceptance_ T A T,Business_ T A T,Credit_ T A T,Committee_ T A T,Total_ T A T,Latest_ Audited_ Financial,Latest_ Audited_ Turnover,Disbusrement_ Date,Actual_ Collateral_ Cover,Actual Cover Percent,Finacle M S M E Classification
count,1.369000e+03,323.000000,381.000000,196.000000,189.000000,1.522000e+03,1.337000e+03,754.000000,1220.000000,1085.000000,248.000000,1167.000000,1108.000000,1072.000000,0.0,39.000000,27.000000,0.0
mean,5.896603e+03,912.867632,667.619160,582.974949,1452.603069,5.739771e+03,6.035648e+03,9.454907,41.749180,10.602765,5.241935,37.858612,2018.080325,2337.205849,NaN,520.821282,449.818519,NaN
std,1.474209e+05,4711.201826,4848.029632,1089.695326,3127.444258,1.398647e+05,1.492073e+05,13.885175,53.566633,22.908767,16.275647,50.811845,0.384725,4345.851183,NaN,977.398690,1264.865998,NaN
min,2.000000e+00,0.360000,0.500000,0.010000,1.000000,1.000000e-02,-1.055040e+04,1.000000,1.000000,1.000000,1.000000,1.000000,2014.000000,1.210000,NaN,4.200000,40.000000,NaN
25%,6.100000e+01,92.500000,48.000000,45.000000,200.000000,7.125000e+01,5.000000e+01,3.000000,4.000000,2.000000,1.000000,4.000000,2018.000000,350.767500,NaN,82.000000,80.260000,NaN
50%,1.500000e+02,200.000000,94.680000,200.000000,450.000000,1.750000e+02,1.250000e+02,6.000000,11.000000,3.000000,1.000000,12.000000,2018.000000,955.660000,NaN,210.000000,100.000000,NaN
75%,4.000000e+02,522.500000,248.000000,575.527500,1250.000000,5.500000e+02,4.000000e+02,11.000000,85.000000,6.000000,2.000000,82.000000,2018.000000,2433.790000,NaN,445.040000,163.700000,NaN
max,4.850000e+06,80250.000000,90000.000000,7000.000000,19285.700000,4.850000e+06,4.850000e+06,179.000000,275.000000,109.000000,108.000000,276.000000,2020.000000,57320.640000,NaN,5447.580000,6250.000000,NaN

### 1. Checking for missing values

In [8]:
df.isna().sum().sum()

54493

### Dropping Features which having 80% Null values

In [11]:
null_morethan_20= df.isna().sum()/len(df)*100 > 20

In [12]:
dropping_features=null_morethan_20[null_morethan_20==1].index

In [13]:
dropping_features

Index(['Restarted_ Application', 'C I F_ I D', 'Constitution', 'Group_ Name',
       'L M S_ I D', 'Credit_ Analyst', 'Credit Login By',
       'Current Role_ Pending Since', 'B T  Bank  Name', 'Non_ Fund_ Based',
       'Loans', 'Derivatives_as_per_ P F E_amount',
       'Derivatives_as_per_ Notion_ Amount', 'Date_of_ Login', 'Login_month',
       'Login_ Acceptance_date', 'Application_ Closed_ Date',
       'Login_to_ Acceptance_ T A T', 'Business_ T A T', 'Credit_ T A T',
       'Committee_ T A T', 'Total_ T A T',
       'Reasons_of_ Decline_ Withdrawn_ Rejection',
       'Reasons_of_ Decline_ Withdrawn_ Additional_remarks',
       'Approving_ Authority', 'Manual  Override ( Y/ N)',
       'Manual  Override  D O P', 'Manual  Override  Comments',
       'Credit_ Approver_ Name', 'Secretory_ Vote', 'Credit_ Sec_ Name',
       'External_ Rating', 'M S M E_ Type', 'Latest_ Audited_ Financial',
       'Latest_ Audited_ Turnover', 'Approval_ Month',
       'Segment_ Cross_ Collateral', 'Disbusrement_ Date',
       'Actual_ Collateral_ Cover', 'Actual Cover Percent', 'Sanction Date',
       'Legal Entity Identifier', 'Legal Entity Identifier Expiry Date',
       'U R C Available', 'U R C Number', 'Finacle M S M E Classification'],
      dtype='object')

In [14]:
df=df.drop(dropping_features,axis=1)

In [15]:
df.head()

,Cred Pro_ I D,Application_ I D,Name_of_the_ Borrower,P A N_ No,Zone,State,Credit Center,Branch,Unit_ Head,Zonal_ Head,...,Owner_ Margin_ Deviations,Risk_ Parameter_ Score_ Deviations,Promoter_and_ Guarantor_ Age_ Deviations,Assessment_ Deviations,Collateral_ Deviations,Personal_ Guarantee_ Deviations,Tenor_ Deviations,Other_ Deviations,Cross Collateral,Report Date
0,CTPT-1012,APP-1001,CTPT-1012-xxxxx,AAHCM7723L,NORTH,Haryana,New Delhi,Gurgaon,U6289_F U6289_L,U11161_F U11161_L,...,N,N,N,N,N,N,N,N,N,2022-06-06T03:56:11.347
1,CTPT-1015,APP-2313,CTPT-1015-xxxxx,ACCPA7187J,NORTH,Delhi,New Delhi,Delhi,U6490_F U6490_L,U6490_F U6490_L,...,N,N,N,N,N,N,N,N,N,2022-06-06T03:56:11.347
2,CTPT-1015,APP-1002,CTPT-1015-xxxxx,ACCPA7187J,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,ibl6490_F ibl6490_L,...,N,N,N,N,N,N,N,N,N,2022-06-06T04:46:34.39
3,CTPT-1015,APP-2311,CTPT-1015-xxxxx,ACCPA7187J,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,ibl6490_F ibl6490_L,...,N,N,N,N,N,N,N,N,N,2022-06-06T04:46:34.39
4,CTPT-1015,APP-2304,CTPT-1015-xxxxx,ACCPA7187J,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,ibl6490_F ibl6490_L,...,N,N,N,N,N,N,N,N,N,2022-06-06T04:46:34.39

In [17]:
df.columns

Index(['Cred Pro_ I D', 'Application_ I D', 'Name_of_the_ Borrower',
       'P A N_ No', 'Zone', 'State', 'Credit Center', 'Branch', 'Unit_ Head',
       'Zonal_ Head', 'Regional_ Head', 'R M', 'Current User Name',
       'Current User Role', 'Sourcing_ Channel', 'Sourcing Channel Type',
       'Sourcing Channel Type Desc', 'Mode_of_ Facility', 'Product',
       'Type_of_application', 'Fund_ Based', 'Total_ Facility',
       'Incremental_ Exposure_ In_lakhs', 'Application_ Start_ Date',
       'Proposed_ Banking_ Arrangement', 'Status_of_application',
       'Internal_ Score_ Rating', 'Business_ Type', 'Tertiary  Industry  Name',
       'Nature_of_ Business', 'Secondary  Industry  Name',
       'Exposure_ Deviations', 'Borrower_profile_ Deviations',
       'Financial_ Parameters_ Deviations', 'Banking_ History_ Deviations',
       'Default_ History_ Deviations', 'Owner_ Margin_ Deviations',
       'Risk_ Parameter_ Score_ Deviations',
       'Promoter_and_ Guarantor_ Age_ Deviations', 'Assessment_ Deviations',
       'Collateral_ Deviations', 'Personal_ Guarantee_ Deviations',
       'Tenor_ Deviations', 'Other_ Deviations', 'Cross Collateral',
       'Report  Date'],
      dtype='object')

### Dropping some Unwanted Columns

In [18]:
unw_cols=['Cred Pro_ I D', 'Application_ I D','P A N_ No','Zonal_ Head', 'Regional_ Head', 'R M', 'Current User Name','Application_ Start_ Date',
         'Report  Date']

In [19]:
df=df.drop(unw_cols,axis=1)

In [20]:
df.head()

,Name_of_the_ Borrower,Zone,State,Credit Center,Branch,Unit_ Head,Current User Role,Sourcing_ Channel,Sourcing Channel Type,Sourcing Channel Type Desc,...,Default_ History_ Deviations,Owner_ Margin_ Deviations,Risk_ Parameter_ Score_ Deviations,Promoter_and_ Guarantor_ Age_ Deviations,Assessment_ Deviations,Collateral_ Deviations,Personal_ Guarantee_ Deviations,Tenor_ Deviations,Other_ Deviations,Cross Collateral
0,CTPT-1012-xxxxx,NORTH,Haryana,New Delhi,Gurgaon,U6289_F U6289_L,Relationship Manager,BR,Branch,NaN,...,N,N,N,N,N,N,N,N,N,N
1,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,U6490_F U6490_L,Relationship Manager,General,Internal Customer Reference,existing customer,...,N,N,N,N,N,N,N,N,N,N
2,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Approve,General,Internal Customer Reference,NaN,...,N,N,N,N,N,N,N,N,N,N
3,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Abort,General,Internal Customer Reference,NaN,...,N,N,N,N,N,N,N,N,N,N
4,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Abort,General,Internal Customer Reference,NaN,...,N,N,N,N,N,N,N,N,N,N

### Imputing Null values

In [21]:
df.isna().sum().sum()

2272

In [22]:
df['Default_ History_ Deviations'].isna().sum()

28

In [23]:
def fillnanval(col):
    if df[col].isna().sum()>0:
        df[col]=df[col].fillna(df[col].mode()[0])

In [24]:
cols=df.columns

In [25]:
cols

Index(['Name_of_the_ Borrower', 'Zone', 'State', 'Credit Center', 'Branch',
       'Unit_ Head', 'Current User Role', 'Sourcing_ Channel',
       'Sourcing Channel Type', 'Sourcing Channel Type Desc',
       'Mode_of_ Facility', 'Product', 'Type_of_application', 'Fund_ Based',
       'Total_ Facility', 'Incremental_ Exposure_ In_lakhs',
       'Proposed_ Banking_ Arrangement', 'Status_of_application',
       'Internal_ Score_ Rating', 'Business_ Type', 'Tertiary  Industry  Name',
       'Nature_of_ Business', 'Secondary  Industry  Name',
       'Exposure_ Deviations', 'Borrower_profile_ Deviations',
       'Financial_ Parameters_ Deviations', 'Banking_ History_ Deviations',
       'Default_ History_ Deviations', 'Owner_ Margin_ Deviations',
       'Risk_ Parameter_ Score_ Deviations',
       'Promoter_and_ Guarantor_ Age_ Deviations', 'Assessment_ Deviations',
       'Collateral_ Deviations', 'Personal_ Guarantee_ Deviations',
       'Tenor_ Deviations', 'Other_ Deviations', 'Cross Collateral'],
      dtype='object')

In [26]:
list(map(fillnanval,cols))

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [27]:
df.isna().sum().sum()

0

In [28]:
df.head()

,Name_of_the_ Borrower,Zone,State,Credit Center,Branch,Unit_ Head,Current User Role,Sourcing_ Channel,Sourcing Channel Type,Sourcing Channel Type Desc,...,Default_ History_ Deviations,Owner_ Margin_ Deviations,Risk_ Parameter_ Score_ Deviations,Promoter_and_ Guarantor_ Age_ Deviations,Assessment_ Deviations,Collateral_ Deviations,Personal_ Guarantee_ Deviations,Tenor_ Deviations,Other_ Deviations,Cross Collateral
0,CTPT-1012-xxxxx,NORTH,Haryana,New Delhi,Gurgaon,U6289_F U6289_L,Relationship Manager,BR,Branch,Branch,...,N,N,N,N,N,N,N,N,N,N
1,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,U6490_F U6490_L,Relationship Manager,General,Internal Customer Reference,existing customer,...,N,N,N,N,N,N,N,N,N,N
2,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Approve,General,Internal Customer Reference,Branch,...,N,N,N,N,N,N,N,N,N,N
3,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Abort,General,Internal Customer Reference,Branch,...,N,N,N,N,N,N,N,N,N,N
4,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Abort,General,Internal Customer Reference,Branch,...,N,N,N,N,N,N,N,N,N,N

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1636 entries, 0 to 1635
Data columns (total 37 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Name_of_the_ Borrower                     1636 non-null   object
 1   Zone                                      1636 non-null   object
 2   State                                     1636 non-null   object
 3   Credit Center                             1636 non-null   object
 4   Branch                                    1636 non-null   object
 5   Unit_ Head                                1636 non-null   object
 6   Current User Role                         1636 non-null   object
 7   Sourcing_ Channel                         1636 non-null   object
 8   Sourcing Channel Type                     1636 non-null   object
 9   Sourcing Channel Type Desc                1636 non-null   object
 10  Mode_of_ Facility                         1636 non-null   object
 11  Product                                   1636 non-null   object
 12  Type_of_application                       1636 non-null   object
 13  Fund_ Based                               1636 non-null   float64
 14  Total_ Facility                           1636 non-null   float64
 15  Incremental_ Exposure_ In_lakhs           1636 non-null   float64
 16  Proposed_ Banking_ Arrangement            1636 non-null   object
 17  Status_of_application                     1636 non-null   object
 18  Internal_ Score_ Rating                   1636 non-null   object
 19  Business_ Type                            1636 non-null   object
 20  Tertiary  Industry  Name                  1636 non-null   object
 21  Nature_of_ Business                       1636 non-null   object
 22  Secondary  Industry  Name                 1636 non-null   object
 23  Exposure_ Deviations                      1636 non-null   object
 24  Borrower_profile_ Deviations              1636 non-null   object
 25  Financial_ Parameters_ Deviations         1636 non-null   object
 26  Banking_ History_ Deviations              1636 non-null   object
 27  Default_ History_ Deviations              1636 non-null   object
 28  Owner_ Margin_ Deviations                 1636 non-null   object
 29  Risk_ Parameter_ Score_ Deviations        1636 non-null   object
 30  Promoter_and_ Guarantor_ Age_ Deviations  1636 non-null   object
 31  Assessment_ Deviations                    1636 non-null   object
 32  Collateral_ Deviations                    1636 non-null   object
 33  Personal_ Guarantee_ Deviations           1636 non-null   object
 34  Tenor_ Deviations                         1636 non-null   object
 35  Other_ Deviations                         1636 non-null   object
 36  Cross Collateral                          1636 non-null   object
dtypes: float64(3), object(34)
memory usage: 473.0+ KB

### Separating Numerical & Categorical Features

In [40]:
df_num=df.select_dtypes(include=['int','float'])

In [32]:
df_cat=df.select_dtypes(exclude=['int','float'])

In [33]:
df_cat.head()

,Name_of_the_ Borrower,Zone,State,Credit Center,Branch,Unit_ Head,Current User Role,Sourcing_ Channel,Sourcing Channel Type,Sourcing Channel Type Desc,...,Default_ History_ Deviations,Owner_ Margin_ Deviations,Risk_ Parameter_ Score_ Deviations,Promoter_and_ Guarantor_ Age_ Deviations,Assessment_ Deviations,Collateral_ Deviations,Personal_ Guarantee_ Deviations,Tenor_ Deviations,Other_ Deviations,Cross Collateral
0,CTPT-1012-xxxxx,NORTH,Haryana,New Delhi,Gurgaon,U6289_F U6289_L,Relationship Manager,BR,Branch,Branch,...,N,N,N,N,N,N,N,N,N,N
1,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,U6490_F U6490_L,Relationship Manager,General,Internal Customer Reference,existing customer,...,N,N,N,N,N,N,N,N,N,N
2,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Approve,General,Internal Customer Reference,Branch,...,N,N,N,N,N,N,N,N,N,N
3,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Abort,General,Internal Customer Reference,Branch,...,N,N,N,N,N,N,N,N,N,N
4,CTPT-1015-xxxxx,NORTH,Delhi,New Delhi,Delhi,ibl6490_F ibl6490_L,Abort,General,Internal Customer Reference,Branch,...,N,N,N,N,N,N,N,N,N,N

### Performing Label Encoding on Numerical Features

In [36]:
from sklearn import preprocessing

In [37]:
def MultiLabelEncoder(columnlist,dataframe):
    for i in columnlist:

        le_X=preprocessing.LabelEncoder()
        dataframe[i]=le_X.fit_transform(dataframe[i])

In [38]:
MultiLabelEncoder(df_cat.columns,df_cat)

C:\Users\chira\AppData\Local\Temp/ipykernel_19256/1626947490.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[i]=le_X.fit_transform(dataframe[i])

In [39]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1636 entries, 0 to 1635
Data columns (total 34 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Name_of_the_ Borrower                     1636 non-null   int32
 1   Zone                                      1636 non-null   int32
 2   State                                     1636 non-null   int32
 3   Credit Center                             1636 non-null   int32
 4   Branch                                    1636 non-null   int32
 5   Unit_ Head                                1636 non-null   int32
 6   Current User Role                         1636 non-null   int32
 7   Sourcing_ Channel                         1636 non-null   int32
 8   Sourcing Channel Type                     1636 non-null   int32
 9   Sourcing Channel Type Desc                1636 non-null   int32
 10  Mode_of_ Facility                         1636 non-null   int32
 11  Product                                   1636 non-null   int32
 12  Type_of_application                       1636 non-null   int32
 13  Proposed_ Banking_ Arrangement            1636 non-null   int32
 14  Status_of_application                     1636 non-null   int32
 15  Internal_ Score_ Rating                   1636 non-null   int32
 16  Business_ Type                            1636 non-null   int32
 17  Tertiary  Industry  Name                  1636 non-null   int32
 18  Nature_of_ Business                       1636 non-null   int32
 19  Secondary  Industry  Name                 1636 non-null   int32
 20  Exposure_ Deviations                      1636 non-null   int32
 21  Borrower_profile_ Deviations              1636 non-null   int32
 22  Financial_ Parameters_ Deviations         1636 non-null   int32
 23  Banking_ History_ Deviations              1636 non-null   int32
 24  Default_ History_ Deviations              1636 non-null   int32
 25  Owner_ Margin_ Deviations                 1636 non-null   int32
 26  Risk_ Parameter_ Score_ Deviations        1636 non-null   int32
 27  Promoter_and_ Guarantor_ Age_ Deviations  1636 non-null   int32
 28  Assessment_ Deviations                    1636 non-null   int32
 29  Collateral_ Deviations                    1636 non-null   int32
 30  Personal_ Guarantee_ Deviations           1636 non-null   int32
 31  Tenor_ Deviations                         1636 non-null   int32
 32  Other_ Deviations                         1636 non-null   int32
 33  Cross Collateral                          1636 non-null   int32
dtypes: int32(34)
memory usage: 217.4 KB

In [41]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1636 entries, 0 to 1635
Data columns (total 3 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Fund_ Based                      1636 non-null   float64
 1   Total_ Facility                  1636 non-null   float64
 2   Incremental_ Exposure_ In_lakhs  1636 non-null   float64
dtypes: float64(3)
memory usage: 38.5 KB

### Joining Numerical & Categorical DFs

In [43]:
df_new=df_cat.join(df_num)

In [44]:
df_new

,Name_of_the_ Borrower,Zone,State,Credit Center,Branch,Unit_ Head,Current User Role,Sourcing_ Channel,Sourcing Channel Type,Sourcing Channel Type Desc,...,Promoter_and_ Guarantor_ Age_ Deviations,Assessment_ Deviations,Collateral_ Deviations,Personal_ Guarantee_ Deviations,Tenor_ Deviations,Other_ Deviations,Cross Collateral,Fund_ Based,Total_ Facility,Incremental_ Exposure_ In_lakhs
0,285,1,11,15,62,30,12,2,0,39,...,0,0,0,0,0,0,0,230.0,630.0,630.0
1,286,1,8,15,47,31,12,4,3,297,...,0,0,0,0,0,0,0,100.0,100.0,-100.0
2,286,1,8,15,47,55,1,4,3,39,...,0,0,0,0,0,0,0,100.0,50.0,50.0
3,286,1,8,15,47,55,0,4,3,39,...,0,0,0,0,0,0,0,100.0,50.0,100.0
4,286,1,8,15,47,55,0,4,3,39,...,0,0,0,0,0,0,0,100.0,50.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,1273,2,2,8,185,4,6,0,0,291,...,0,0,0,0,0,0,0,7.0,7.0,7.0
1632,1157,1,8,15,193,2,6,0,0,305,...,0,1,0,0,0,0,0,16.0,22.0,22.0
1633,1056,1,8,15,126,7,2,0,0,305,...,0,0,0,0,0,0,0,100.0,8.5,8.5
1634,1095,1,16,15,116,54,12,4,0,39,...,1,1,1,1,1,0,0,100.0,50.0,50.0
1635,277,3,16,15,108,54,12,4,0,39,...,0,0,0,0,0,0,0,100.0,100.0,100.0

In [45]:
x=df_new.drop('Incremental_ Exposure_ In_lakhs',axis=1)

In [46]:
y=df_new['Incremental_ Exposure_ In_lakhs']

In [60]:
y_df=pd.DataFrame(y)

### Performing MinMax Scaling on Dataset

In [57]:
from sklearn.preprocessing import MinMaxScaler
scaler_norm = MinMaxScaler()

In [69]:
scaler_norm1 = scaler_norm.fit(df_new)
df_new_norm = scaler_norm.transform(df_new)

In [73]:
df_new_norm_df=pd.DataFrame(df_new_norm,columns=df_new.columns)

In [74]:
df_new_norm_df

,Name_of_the_ Borrower,Zone,State,Credit Center,Branch,Unit_ Head,Current User Role,Sourcing_ Channel,Sourcing Channel Type,Sourcing Channel Type Desc,...,Promoter_and_ Guarantor_ Age_ Deviations,Assessment_ Deviations,Collateral_ Deviations,Personal_ Guarantee_ Deviations,Tenor_ Deviations,Other_ Deviations,Cross Collateral,Fund_ Based,Total_ Facility,Incremental_ Exposure_ In_lakhs
0,0.216730,0.333333,0.44,0.75,0.287037,0.454545,0.7500,0.333333,0.00,0.122642,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000047,0.000130,0.002300
1,0.217490,0.333333,0.32,0.75,0.217593,0.469697,0.7500,0.666667,0.75,0.933962,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000020,0.000021,0.002150
2,0.217490,0.333333,0.32,0.75,0.217593,0.833333,0.0625,0.666667,0.75,0.122642,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000020,0.000010,0.002181
3,0.217490,0.333333,0.32,0.75,0.217593,0.833333,0.0000,0.666667,0.75,0.122642,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000020,0.000010,0.002191
4,0.217490,0.333333,0.32,0.75,0.217593,0.833333,0.0000,0.666667,0.75,0.122642,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000020,0.000010,0.002191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,0.968061,0.666667,0.08,0.40,0.856481,0.060606,0.3750,0.000000,0.00,0.915094,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000001,0.000001,0.002172
1632,0.879848,0.333333,0.32,0.75,0.893519,0.030303,0.3750,0.000000,0.00,0.959119,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.000005,0.002175
1633,0.803042,0.333333,0.32,0.75,0.583333,0.106061,0.1250,0.000000,0.00,0.959119,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000020,0.000002,0.002172
1634,0.832700,0.333333,0.64,0.75,0.537037,0.818182,0.7500,0.666667,0.00,0.122642,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.000020,0.000010,0.002181
1635,0.210646,1.000000,0.64,0.75,0.500000,0.818182,0.7500,0.666667,0.00,0.122642,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000020,0.000021,0.002191

### When Target Variable is Incremental_ Exposure_ In_lakhs

In [76]:
x1=df_new_norm_df.drop('Incremental_ Exposure_ In_lakhs',axis=1)
y1=df_new_norm_df['Incremental_ Exposure_ In_lakhs']

### Splitting Dataset into Train & Test Datasets

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    x,
    y,
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1145, 36), (491, 36), (1145,), (491,))

### Performing Linear Regression Model

In [50]:
from sklearn import  linear_model, metrics

In [51]:
reg = linear_model.LinearRegression()

In [52]:
reg.fit(X_train, y_train)

LinearRegression()

In [53]:
y_pred=reg.predict(X_test)

In [54]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [77]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(
    x1,
    y1,
    test_size=0.3,
    random_state=0)

X1_train.shape, X1_test.shape, y1_train.shape, y1_test.shape

((1145, 36), (491, 36), (1145,), (491,))

In [78]:
reg.fit(X1_train, y1_train)

LinearRegression()

In [79]:
y1_pred=reg.predict(X1_test)

In [90]:
print("MAE",mean_absolute_error(y1_test,y1_pred))

MAE 0.0001434559274632477

In [91]:
print("MSE",mean_squared_error(y1_test,y1_pred))

MSE 1.0137875292918658e-07

In [92]:
mse=mean_squared_error(y1_test,y1_pred)
mse

1.0137875292918658e-07

In [93]:
print("RMSE",np.sqrt(mse))

RMSE 0.00031840030296654333

In [99]:
print('r2 value                :' ,metrics.r2_score(y1_test,y1_pred))

r2 value                : -0.8652437511989262

In [100]:
print('adjusted r2 value                :' , 1 - (1-reg.score(X1_train, y1_train))*(len(y1_train)-1)/(len(y1_train)-X1_train.shape[1]-1))

adjusted r2 value                : 0.9880209492832194

### When Target Variable is Total_ Facility

In [81]:
x2=df_new_norm_df.drop('Total_ Facility',axis=1)
y2=df_new_norm_df['Total_ Facility']

In [82]:
from sklearn.model_selection import train_test_split
X2_train, X2_test, y2_train, y2_test = train_test_split(
    x2,
    y2,
    test_size=0.3,
    random_state=0)

X2_train.shape, X2_test.shape, y2_train.shape, y2_test.shape

((1145, 36), (491, 36), (1145,), (491,))

In [83]:
reg.fit(X2_train, y2_train)

LinearRegression()

In [84]:
y2_pred=reg.predict(X2_test)

In [86]:
y2_pred

array([ 5.61912760e-04,  1.50304616e-04, -1.04546512e-05, -1.33989169e-04,
        1.13341095e-04,  1.34816458e-05,  1.78455734e-04,  1.21544136e-04,
        7.38875865e-05,  1.15132012e-04,  7.54492336e-04, -1.20762546e-06,
        1.28142983e-04,  3.43548807e-05,  7.85630976e-05, -5.21471689e-05,
        2.84888600e-04,  2.62496899e-04,  5.09091181e-04, -5.65905777e-04,
        6.85795807e-05, -1.01654793e-04,  8.92899761e-05,  1.59550552e-04,
        3.22704436e-05,  1.04816740e-04,  7.55427538e-05, -2.08615916e-04,
       -5.59480644e-05,  1.64476255e-04,  1.38010856e-04, -1.12193443e-04,
       -2.52045372e-04,  3.66037848e-05,  1.31401157e-04,  2.21858824e-04,
        3.53082057e-04,  2.15280780e-04,  4.08136414e-05,  1.62947815e-04,
        1.07252151e-04,  4.97627612e-04, -1.63402345e-04,  3.93324101e-04,
        4.71363156e-05,  1.54762535e-05, -8.53437240e-05,  6.61808409e-05,
       -1.91791722e-05, -5.32887216e-05,  2.22806886e-06,  9.76578241e-05,
        1.02876238e-04,  3.40358359e-04, -6.62246666e-05,  1.29380588e-04,
        2.53244009e-04,  6.03646348e-05,  7.35333120e-05,  1.69543922e-04,
        1.71039176e-04,  8.34910439e-05, -3.46409783e-05, -9.21306590e-05,
        1.59350715e-04,  4.14040243e-05, -4.82256562e-06,  2.02281757e-04,
        3.52790667e-04,  1.32388041e-05,  2.54365878e-04, -7.73112597e-05,
        3.20204895e-05, -5.82483491e-05, -9.25592740e-05,  6.80273979e-04,
        1.05284336e-04,  1.47748739e-04, -5.64646567e-05,  7.46142459e-05,
        1.72232411e-04,  1.03888763e-04,  1.80846032e-04, -5.57126404e-05,
        1.10950367e-04,  2.51431483e-04,  9.71597097e-05, -4.15367038e-05,
        1.43634948e-04,  3.72737886e-04,  4.03378623e-04,  2.70760982e-04,
        2.50115293e-05,  7.44165264e-05,  3.23067075e-04,  1.92212287e-04,
       -7.35795667e-06,  2.28179784e-04,  1.15812268e-04,  2.47211325e-04,
        1.23481158e-04,  1.41245053e-04,  2.65573165e-04,  1.26879980e-04,
        2.12328465e-04,  7.11393880e-05, -2.62264740e-05,  5.51753565e-05,
       -8.45495042e-05,  6.33876035e-06,  2.89861202e-04,  3.03419825e-04,
       -7.31691774e-06,  6.71398597e-05, -1.10359544e-04,  1.00824197e-04,
        1.91721147e-04,  1.57675360e-04,  3.47093391e-05,  1.29997636e-04,
        7.67277481e-06,  9.92962037e-05,  2.27718053e-05,  3.16428781e-04,
        2.89304418e-04, -1.74023943e-04,  4.03694411e-05,  2.14181822e-04,
        1.50927661e-04, -4.42971091e-06,  1.59885264e-04,  2.70991123e-05,
        1.29666882e-04, -2.16882723e-04,  6.53076899e-04,  1.64348364e-04,
       -1.10646562e-04,  1.98208120e-04,  3.47975813e-05,  2.20239702e-04,
        2.92777887e-04,  4.38837311e-04,  1.10395477e-04,  3.26805168e-04,
        2.30781765e-04,  2.20288467e-04,  3.73067346e-04,  1.23258390e-04,
        3.17778994e-04,  1.99144220e-04,  5.39979739e-05, -6.09696183e-05,
        4.09687273e-04,  9.31272694e-05,  1.10924236e-04,  1.20181302e-04,
       -6.45324373e-05,  4.89707016e-05,  1.80157991e-04, -3.27549462e-05,
        1.84491005e-04,  9.30065058e-05,  2.46026302e-04,  1.34342221e-04,
        3.29102630e-05,  2.86657527e-04, -4.26902634e-06,  7.34590206e-05,
       -6.24690085e-05,  4.49374238e-05,  7.09483154e-05,  9.82113703e-05,
       -9.14563500e-05,  3.84513821e-04, -9.73569245e-05,  2.73976011e-04,
        1.86889725e-04,  2.62929549e-05,  3.14378155e-03,  2.56118294e-04,
        8.58390513e-05,  9.49757388e-05,  2.19433655e-04,  5.94442922e-04,
        1.42894834e-03,  2.50596801e-04,  1.92892030e-04,  1.51477731e-04,
        4.95381149e-04,  3.12627655e-04,  1.35635513e-04,  5.09735604e-04,
        4.91748934e-04,  2.32248635e-04,  1.41058388e-04,  2.26822513e-04,
        1.49014593e-04,  4.96308310e-04,  2.15107616e-04,  2.46484803e-04,
       -3.47768105e-05,  1.54866821e-04,  2.37065856e-04,  3.72083034e-04,
        9.75721326e-04,  1.41434138e-04,  1.27159792e-04,  4.25561582e-05,
        4.85377585e-04,  1.51516289e-04, -8.27785010e-05,  4.13406869e-05,
        3.08456131e-04, -2.97337095e-05,  5.63336361e-06,  6.74892617e-05,
        1.66344699e-04,  8.15073675e-05,  2.09024529e-04, -9.55384218e-06,
       -4.26917077e-05,  1.33881493e-04,  4.38243474e-04,  9.24664108e-05,
        1.44892608e-04,  1.25724776e-05,  1.09701516e-05,  9.58764469e-05,
        1.64953927e-04,  1.38239616e-04, -5.47349010e-05,  2.24288737e-04,
        1.01930196e-04,  2.48641641e-04,  4.13006190e-05, -6.14339426e-05,
        3.06140513e-05,  1.72110574e-04, -5.30534727e-05,  3.35030644e-04,
        1.16690980e-04,  9.07306880e-06,  1.76448162e-03,  1.36554110e-04,
        7.29369975e-05,  4.31620166e-04,  1.36310808e-04,  2.28456895e-05,
       -1.57898964e-05,  4.75361528e-05, -1.22832380e-04,  6.96752386e-05,
        2.20707922e-04,  3.09265427e-04,  1.92140864e-05,  1.87302917e-04,
        2.77179087e-04,  1.22242696e-04,  3.15161170e-04,  4.95314632e-05,
       -1.17780874e-05,  3.76009104e-04,  3.21891233e-04,  5.79159600e-05,
       -6.64565184e-05,  1.57262754e-04,  5.91468091e-04,  1.04724648e-04,
        1.71002838e-04, -1.65270395e-04, -9.05759857e-05,  9.89217830e-05,
        8.02186796e-05,  4.66165427e-05, -8.95803144e-05,  6.01697217e-04,
        1.57757407e-04,  4.07801983e-04,  2.42962420e-04,  4.88641283e-05,
        2.07908399e-04,  3.16589084e-04,  4.78966299e-04,  3.03540430e-05,
        1.22677483e-04,  9.99958372e-05, -1.94370416e-05,  1.18836114e-04,
       -5.72982375e-05, -7.72291950e-05,  4.20079277e-04,  2.30594329e-04,
        4.36105573e-04, -4.63803454e-06,  3.33975415e-04,  2.60476805e-04,
       -1.41045051e-04, -1.36785830e-04,  4.68516613e-05, -1.39660989e-05,
       -1.23273429e-04,  1.53268576e-04,  1.31851255e-04,  2.93013961e-04,
        2.86190462e-04,  1.13590227e-04,  8.72431348e-05,  1.48907430e-04,
        1.40008050e-04,  6.24350090e-05, -1.02676886e-04,  6.84887219e-04,
        7.40454059e-05,  2.06912131e-04,  2.02139982e-04,  1.89252526e-04,
        1.40582610e-05,  7.18335448e-04,  2.69036610e-05,  2.01002483e-04,
        6.27038600e-05,  3.40556636e-04,  1.95239362e-04,  2.75946751e-04,
        6.00656153e-04,  1.09372983e-04, -3.19165689e-04,  2.19654197e-04,
        4.06232646e-04,  2.51744403e-04, -1.04505707e-04,  2.34880847e-04,
        4.73433241e-04,  2.61271375e-04,  4.68118556e-05, -3.44766015e-06,
        1.31475680e-04, -9.15497981e-05,  2.62465238e-04, -1.39560881e-04,
       -1.90571528e-04,  3.08329060e-04,  3.14562111e-04,  1.08214651e-04,
        2.34958563e-04,  8.91767136e-05,  7.43672367e-05,  2.47519164e-04,
       -2.19319535e-05,  1.45363239e-04,  1.34738634e-04,  4.53249907e-04,
        9.57854231e-05,  3.20783159e-04,  2.29538012e-04,  1.70945923e-05,
        2.53617042e-04,  1.03307581e-04,  7.48515953e-04,  1.25096481e-04,
       -7.15862634e-05,  7.36854855e-05,  1.60307248e-04, -7.30255550e-05,
        6.49639070e-05,  5.97567301e-05, -2.52308247e-05,  2.44132514e-04,
        4.59725602e-04, -1.91440176e-05,  3.45226748e-04, -1.38744898e-04,
        1.52353235e-04,  1.56647783e-04,  6.25703486e-05, -1.54798367e-05,
       -7.63064616e-05,  1.43240282e-04,  1.27361858e-04,  3.35286296e-05,
        3.82082524e-06,  2.93285748e-05,  2.26996587e-04,  1.22749939e-05,
        3.23342183e-04,  5.23953361e-05,  4.36978983e-04, -8.38881040e-05,
        2.86954372e-04, -6.80561553e-05,  2.68481358e-04,  7.24863681e-05,
        4.69290776e-04,  6.37135608e-04,  2.10437792e-04,  2.56517108e-04,
        1.31222552e-04, -7.06816920e-05,  9.02128553e-05,  2.02931569e-04,
       -7.66236370e-05,  9.78028997e-06,  1.04725207e-04,  5.23647052e-05,
        3.65547924e-04,  1.38393046e-04,  4.57667459e-05,  1.56095231e-04,
        3.30175837e-05,  2.94057783e-04,  3.22351651e-04, -2.10077861e-07,
        1.64556970e-04,  3.64807317e-05, -2.87275159e-05,  7.18198817e-05,
        5.31434269e-05, -1.27331318e-06,  9.46526179e-05,  8.00247900e-05,
        2.17065447e-04,  6.26044047e-05,  1.85928098e-04, -6.22304083e-05,
        1.52007736e-04,  9.44958749e-05,  7.75557295e-05, -1.71011012e-05,
        1.11306381e-04,  5.61646446e-05,  1.80764435e-04,  1.66503749e-04,
       -2.33988944e-05,  1.17204410e-04, -8.21170681e-05,  2.28985565e-04,
        2.60743974e-04,  1.08669942e-04,  2.24546997e-04,  1.55242678e-04,
       -2.24826449e-05,  7.04503617e-05,  1.43757032e-04,  2.84039153e-04,
        2.29734542e-04,  5.49349040e-04,  3.38838007e-04,  9.41881200e-04,
       -3.29861103e-05,  1.35572639e-04,  7.09959875e-05,  2.43124334e-04,
        7.83029965e-05,  1.13538564e-04,  1.26032460e-04,  3.07020055e-04,
        2.96256316e-04,  1.53331208e-04,  1.50847402e-04,  2.50397752e-04,
        3.33752284e-04,  5.98389917e-05,  2.09676905e-04,  1.06032282e-04,
        1.59790694e-04,  3.20421706e-05,  2.01111560e-04,  2.66779167e-04,
       -9.17884024e-05, -3.01819176e-05,  4.00998475e-04,  6.10063501e-06,
        1.17984384e-04, -7.28928425e-05,  2.35579471e-04, -5.47628034e-05,
        1.59783000e-05,  1.09719524e-04, -2.76032275e-04, -1.12405177e-04,
        1.22885249e-04,  4.55099928e-04,  2.34335339e-04,  1.47589996e-04,
        1.00594604e-03,  2.17525485e-04,  1.91130044e-04,  5.16770977e-04,
        3.66849901e-04,  3.48382361e-04,  1.37588466e-04])

In [87]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [88]:
print("MAE",mean_absolute_error(y2_test,y2_pred))

MAE 0.00013489437733647824

In [89]:
print("MSE",mean_squared_error(y2_test,y2_pred))

MSE 7.595859093068966e-08

In [94]:
mse=mean_squared_error(y2_test,y2_pred)
mse

7.595859093068966e-08

In [95]:
print("RMSE",np.sqrt(mse))

RMSE 0.00027560586156809085

In [101]:
print('r2 value                :' ,metrics.r2_score(y2_test,y2_pred))

r2 value                : 0.3620741926488027

In [102]:
print('adjusted r2 value                :' , 1 - (1-reg.score(X2_train, y2_train))*(len(y2_train)-1)/(len(y2_train)-X2_train.shape[1]-1))

adjusted r2 value                : 0.9997226040164591